.container{
	background-color: #ffffff;
	width: 100vw;
	height: 60px;
	position: fixed;
	z-index: 3;
	/* background-image: linear-gradient(#ffffff); */
	/* background-position: left; */
	transition: background-color .5s;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.containerScrolled{
	composes: container;
	background-color: #ffffffdc;
	border-bottom: 0.5px solid #00000030;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	transition: background-color .5s;
	/* transition: position .5s; */
	/* position: fixed; */
	z-index: 3;
}

.right{
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}


/**********
Header
**********/
.logo{
	color: #000;
	font-family: PT Serif;
	position: fixed;
	align-self: center;
	top: 20px;	
	font-size: 30px;
}
.header{
	/* font-family: Kite One; */
	font-size: 24px;
	z-index: 4;
	display: flex;
	width: 100vw;	
	height: 100vh;
	background-color: #FFFFFF;
	/* position: absolute; */
	position: fixed;
	flex-direction: column;
	justify-content: center;
	transform: translateY(0%); 
	left: 0;
	transition: transform 0.5s ease-in-out;
	/* visibility: visible; */
	/* overflow: hidden;	 */
}

.headerHidden{
	/* visibility: hidden; */
	composes: header;
	transform: translateY(300%);
	transition: transform 0.5s ease-in-out;
	overflow: hidden;

}

.link {
    text-decoration: none;
    color: #000;
	/* color: #3A7BD5; */
	color:  #665555;
    margin-bottom: 20px;
    font-size: 40px;
	font-weight: 500;
	/* font-family: Montserrat; */

    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.link:hover {
    transform: translateY(-5px); /* Moves the link up 5 pixels on hover */
}

.navWrapper{
	display: flex;
	flex-direction: column;
	left: 20%;
	position: absolute;
}

.auth{
	font-family: Montserrat;
	font-family: PT Serif;
	text-decoration: none;
	color: #000;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 20px;
	/* position: fixed; */
	border: none;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}
.auth:hover{
	cursor: pointer;
}

.profileButton {
	/* position: fixed; */
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 400;
	text-decoration: none;
	color: #000;
	margin: 10px;
	margin-right: 23px;
	margin-top: 8px;
}
.profileIcon {
	vertical-align: middle;
	font-size: 30px;
}

/* // ********** burger menu ********** // */

.burger{
	/* position: fixed; */
	margin-top: 20px;
	right: 40px;
	z-index: 4;
}
.iconmenu {
	--gap: 5px;
	--height-bar: 2.5px;
	--pos-y-bar-one: 0;
	--pos-y-bar-three: 0;
	--scale-bar: 1;
	--rotate-bar-one: 0;
	--rotate-bar-three: 0;
	width: 35px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	cursor: pointer;
	position: relative;
  }
  
  .bar {
	position: relative;
	height: var(--height-bar);
	width: 100%;
	border-radius: .5rem;
	/* background-color: #9941fc; */
	background-color: #000;
  }
  
  .bar1 {
	top: var(--pos-y-bar-one);
	transform: rotate(var(--rotate-bar-one));
	transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar2 {
	transform: scaleX(var(--scale-bar));
	transition: transform 150ms 100ms;
  }
  
  .bar3 {
	bottom: var(--pos-y-bar-three);
	transform: rotate(var(--rotate-bar-three));
	transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .checkicon:checked + .iconmenu > .bar1 {
	transition: top 200ms, transform 200ms 100ms;
  }
  
  .checkicon:checked + .iconmenu > .bar3 {
	transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .checkicon:checked + .iconmenu {
	--pos-y-bar-one: calc(var(--gap) + var(--height-bar));
	--pos-y-bar-three: calc(var(--gap) + var(--height-bar));
	--scale-bar: 0;
	--rotate-bar-one: 45deg;
	--rotate-bar-three: -45deg;
  }
  
  
  
  /**********
Title
**********/
.titleContainer{
	width: auto;
	height: auto;
	display: flex;
	margin-top: 10px;
	margin-left: 25px;
	z-index: 2;
}
.title{
	/* color: #003478; */
	color: #272222;
	color: #3A7BD5;
	color:  #003478;
	/* font-family: Lexend Tera; */
	font-family: PT Serif;
	font-size: 128px;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
.titleContainer:hover{
	cursor: pointer;
}